<div class="backdrop" style="width:850px">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Customer</th>
      <th scope="col">Phone</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col">Audio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><a href="/calls/1">1</a></th>
      <td><a href="/calls/1">Rogers</a></td>
      <td>555-5555</td>
      <td>2019/01/01</td>
      <td>Complete</td>
      <td>
        <audio id="player" controls>
          <source src="/audio-file.mp3" type="audio/mp3">
        </audio>
      </td>
    </tr>
  </tbody>
</table>
</div>