<h1>TRUST</h1>
<h6>level up your customer service strategy</h6>

<a href="/users">login</a><br>
<a href="/calls">calls</a><br>
<a href="/calls/1">calls details</a><br>


<!--   <p class="mx-auto item-1" style="display:none">Tables: where people come together</p>
  <p class="mx-auto item-2" style="display:none">To laugh; to live; to love</p>
  <p class="mx-auto item-3" style="display:none">We use tables: because we care</p>
</div></div></div>
 -->
<!-- <script type="text/javascript">
  console.log("why are we setting timeout for item1 twice?")
  $(document).ready(function() {
    let item1 = $(".item-1")
    let item2 = $(".item-2")
    let item3 = $(".item-3")
    setTimeout(function() {
      item1.fadeIn(400, function() {
        setTimeout(function() {
          item1.fadeOut(400, function() {
            item1.hide();
            setTimeout(function() {
              item2.fadeIn(400, function() {
                setTimeout(function() {
                  item2.fadeOut(400, function() {
                    item2.hide();
                    setTimeout(function() {
                      item3.fadeIn(400, function() {
                        setTimeout(function() {
                          item3.fadeOut(400, function() {
                            item3.hide();
                          });
                        }, 1000);
                      });
                    }, 1000);
                  });
                }, 1000);
              });
            }, 1000);

          });
        }, 1000);
      });
    }, 1000);
  });


</script> -->

